[Unit]
Description=Portfolio_DockerCompose
Requires=docker.service
After=docker.service
[Service]
Restart=always
User=ubuntu
Group=docker
ExecStartPre=/usr/local/bin/docker-compose -f /home/ubuntu/flaskapp/docker-compose.yml down -v
# Start container when unit is started
ExecStart=/usr/local/bin/docker-compose -f /home/ubuntu/flaskapp/docker-compose.yml up --force-recreate --no-deps --build flask
# Stop container when unit is stopped
ExecStop=/usr/local/bin/docker-compose -f /home/ubuntu/flaskapp/docker-compose.yml down -v
# Reload
ExecReload=/usr/local/bin/docker-compose -f /home/ubuntu/flaskapp/docker-compose.yml up --force-recreate --no-deps --build flask
[Install]
WantedBy=multi-user.target