{% extends "base.html" %}

{% block head %}
<style>
    body {
        margin-top: 0rem;
    }
    html,
    body,
    header,
    .view {
        height: 100%;
    }
</style>
{% endblock head %}

{% block header %}
      <!-- Full Page Intro -->
      <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="height: 100%; background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="container">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-12 mb-4 white-text text-center">
                <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong>Minimalist intro</strong></h1>
                <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
      </div>
      <!-- Full Page Intro -->
{% endblock header %}


{% block content %}
<div class='content-section'>
    <h1>About Page</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis felis sapien, hendrerit nec porttitor vitae, hendrerit sed sem. Nulla nulla metus, iaculis a fermentum sed, eleifend ac nulla. Maecenas semper fermentum arcu sit amet efficitur. Nunc ultrices erat quis pellentesque vestibulum. Nullam libero lacus, laoreet a libero sit amet, eleifend volutpat enim. Pellentesque risus lorem, condimentum sit amet nunc eget, rutrum condimentum libero. Quisque auctor turpis luctus mi luctus, condimentum vestibulum lectus tincidunt. Etiam egestas scelerisque lobortis. Duis maximus lorem ut justo aliquam bibendum. Curabitur eget interdum urna. Fusce ornare venenatis iaculis. Nunc vitae massa vitae dolor tempor rhoncus in vel erat.

Nullam malesuada, velit vel volutpat congue, augue erat lobortis lorem, et ullamcorper magna massa a tortor. Aenean mattis, odio non porttitor bibendum, dui tortor fringilla turpis, finibus scelerisque felis massa ac felis. Integer viverra purus nec consectetur maximus. Suspendisse ac ullamcorper tortor. Praesent mauris ante, semper posuere velit non, malesuada congue dolor. Cras vitae nisi in diam cursus porta. Maecenas turpis enim, commodo ac nunc sit amet, blandit rutrum justo.

Maecenas dictum fermentum arcu, at aliquet quam. Donec aliquet velit magna, et pharetra ante suscipit sed. Phasellus facilisis sit amet ante quis pellentesque. Quisque tortor nulla, bibendum vitae erat commodo, tincidunt vulputate erat. Suspendisse tempor ligula sit amet elit ullamcorper, eu blandit neque scelerisque. Integer purus tortor, varius vitae suscipit a, consectetur sit amet dui. Praesent congue diam laoreet, maximus leo pellentesque, ornare dolor.

Vivamus feugiat dolor augue, fermentum luctus lorem molestie sed. Proin accumsan volutpat justo vel auctor. Ut est magna, consequat nec suscipit sit amet, congue at magna. Fusce dictum sem nisi, eget ultricies arcu fermentum non. Aliquam pulvinar ipsum enim, quis aliquet ante finibus quis. Pellentesque a turpis elit. Quisque quis felis mauris. Donec nec pretium nibh.

Mauris gravida sem quis felis ultrices ullamcorper. Etiam tempor dapibus dapibus. Fusce vitae venenatis sapien, et efficitur urna. Etiam eget fermentum dolor. Nulla eu pretium purus, eget lobortis diam. Nunc sed est eget diam scelerisque ornare quis eu ante. Duis quis dictum sem, et porta nibh. Nunc odio est, semper quis nunc nec, lacinia commodo nibh. Morbi sed bibendum tellus. Ut est odio, consequat ut consectetur eu, venenatis sollicitudin mauris. Cras tristique, neque eget auctor sodales, quam risus laoreet libero, at cursus tellus lectus sed dui. Sed hendrerit lorem dolor, vitae egestas risus luctus et. Suspendisse magna eros, ultricies a cursus eu, rhoncus vel lacus. Nunc sit amet cursus nulla. Quisque pharetra libero tempor tempus vehicula.

Quisque viverra hendrerit augue, sed luctus nulla interdum eget. Sed venenatis placerat nisi eleifend faucibus. Phasellus quis viverra nulla, non eleifend eros. Proin pharetra orci in dui efficitur molestie. Etiam eu sapien eleifend, egestas nulla in, vulputate turpis. Morbi nec consectetur nisi. Nulla sed dictum eros. Nunc sagittis nibh vel accumsan malesuada. Donec pulvinar nec dolor quis faucibus. Sed at feugiat nisl, vel bibendum metus. Sed pharetra lacus mattis nulla dictum consequat. Nunc quis scelerisque dolor, vitae fermentum tellus. Aenean ullamcorper, metus et hendrerit dignissim, lectus justo tristique tortor, a dictum augue ante sit amet nibh.

Mauris efficitur ex id ex dignissim, quis sodales eros elementum. Integer porttitor felis non purus sagittis sagittis. Mauris maximus, ex vestibulum aliquet rutrum, orci nunc blandit enim, quis malesuada velit risus et lorem. Duis elit quam, vestibulum sit amet lobortis eu, mollis at diam. Sed cursus eros ipsum, quis blandit magna pellentesque sollicitudin. Quisque id est mollis, aliquet mauris vitae, porta felis. Vivamus eu massa aliquam, porttitor massa at, varius lorem. Nullam in hendrerit leo, non scelerisque mauris. Suspendisse viverra libero non eros mattis, ac euismod erat faucibus. Donec consequat urna vitae eros fermentum, aliquet accumsan lectus sagittis.

Vivamus rutrum tellus a mi congue, eu tempus metus gravida. Donec interdum et justo quis volutpat. Nulla tincidunt vel mauris a pulvinar. Aliquam at sem dapibus arcu porta efficitur eu et odio. Ut in justo sed massa consectetur commodo. Donec quis luctus eros, sit amet bibendum purus. Phasellus sit amet venenatis arcu, a interdum tortor. Curabitur pretium convallis porttitor. Praesent efficitur tortor diam, eu iaculis velit fermentum id. Fusce erat neque, ultricies id pellentesque quis, commodo sed sapien. Ut sit amet viverra nisi. Nulla facilisi. Ut et vestibulum ex. Nulla lobortis felis sit amet urna gravida, nec gravida libero luctus.

Suspendisse sit amet placerat turpis. Nullam accumsan enim sed ex faucibus ultrices. Donec eget tincidunt nisi, a sodales justo. Suspendisse fringilla eros at justo ultricies auctor. In pulvinar rhoncus blandit. Fusce congue auctor sem lobortis consequat. Vestibulum interdum erat vitae purus auctor, ac vestibulum nisl efficitur. Cras vel libero laoreet, porta elit posuere, lobortis felis. Etiam lectus urna, pulvinar vel turpis in, egestas rhoncus mi. Quisque semper, libero eu feugiat tempor, nisi ligula pretium metus, sit amet posuere massa leo in neque. Duis porttitor ex neque, ac consequat augue tincidunt non. Nam non placerat justo, et mattis nulla. Cras gravida vestibulum urna ut ullamcorper. Sed non mauris quis turpis tempus tempus. Nullam sollicitudin neque et ante fermentum euismod. Aliquam id mauris bibendum, porta ex non, lobortis nibh.

Sed vulputate eleifend enim. Ut iaculis, lacus a gravida porttitor, eros felis fermentum turpis, vehicula sodales metus massa vitae tortor. Morbi neque tellus, hendrerit vitae sem a, faucibus sagittis arcu. Mauris quis nibh non sapien mollis placerat. Praesent leo dolor, blandit eget est id, tincidunt efficitur libero. Praesent condimentum sapien a lectus imperdiet vestibulum a et sem. Sed nunc massa, egestas vitae volutpat sed, vestibulum at risus. Vestibulum aliquet justo ac volutpat blandit. Donec lobortis augue ut risus laoreet, in blandit dolor elementum. Quisque porta, lectus ac sollicitudin pulvinar, elit purus porta nunc, efficitur consequat risus elit quis lorem. Etiam facilisis velit ex, sit amet sodales erat vehicula non. In velit leo, pretium ac diam at, porta volutpat mi. Donec elementum libero risus, eu consectetur libero lacinia ac. Curabitur at elit malesuada, tempor enim ut, commodo nibh. Mauris odio arcu, molestie id lectus ac, facilisis lobortis nunc.
</div>

{% endblock content %}