body {
  background: #1b1b1b;
  color: #333333;
  margin-top: 5rem;
}

html,
body,
header,

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #212121 !important;
}

.navbar:not(.top-nav-collapse) {
  background: #212121 !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    /* background: #78909c !important; */
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}